.textarea {
border:1px solid #999999;
outline:none;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:5px;
}
.textarea:focus {
border:1px solid #7dbef1;
box-shadow:0 0 5px #7dbef1;
-moz-box-shadow:0 0 5px #7dbef1;
-webkit-box-shadow:0 0 5px #7dbef1;
